
<div class="toolbar" role="banner">
  <img
    width="250"
    alt="Nehs Logo"
    src="assets/img/nehsLogo.png"
    (click)="goToUrl('https://www.nehs-digital.com')"
  />
  <img
    width="250"
    alt="JFR Logo"
    style="padding-top: 30px;"
    src="assets/img/logo_JFR21_blanc-transparent.png"
    (click)="goToUrl('https://jfr.radiologie.fr')"
  />
</div>

<div class="navbar">
  <!--<button mat-button style="margin: 4px 5px 4px 5px; border: none; font-size: 20px; font-family: 'TextaMedium';" (click)="goToUrl('https://jfr.radiologie.fr/')">JOURNEE FRANCOPHONES DE RADIOLOGIE</button>-->
  <button mat-button style="margin: 4px 5px 4px 5px; border: none; font-size: 20px; font-family: 'TextaMedium';" (click)="goToUrl('https://www.google.fr/')">FORMULAIRE</button>
  <button mat-button style="margin: 4px 5px 4px 5px; border: none; font-size: 20px; font-family: 'TextaMedium';" (click)="goToUrl('https://www.google.fr/')">CALENDRIER</button>
</div>

<div class="content" role="main0" style="padding-top: 100px">

  <div class="cardContainer">
    <div class="row">
      <app-card
        name="TéléRadiologie 5" 
        description="Solution de Téléradiologie permettant une collaboration à distance entre des radiologues expérimentés " 
        img="assets/img/test.png" 
        [infoLink]='["https://www.google.com/"]' 
        [allNames]='["Accès Plannification", "Accès Télé-Radiologue", "Accès Requérant v5", "Accès Requérant v6"]' 
        [allLinks]='["https://connect-tlr-demo.nehs-digital.com", "https://teleradio-demo.nehs-digital.com", "https://requerant-tlr-demo.nehs-digital.com" ,"https://requerant-tlr-beta.nehs-digital.com"]' 
        (linkEvent)="receiveLink($event)">
      </app-card>

      <app-card
        name="TéléRadiologie 6"  
        description="Solution de Téléradiologie permettant une collaboration à distance entre des radiologues expérimentés " 
        img="assets/img/jfr.png" 
        [infoLink]='["https://www.google.com/"]' 
        [allNames]='["Accès Plannification", "Accès Télé-Radiologue", "Accès Requérant"]' 
        [allLinks]='["https://connect-tlr-demo.nehs-digital.com", "https://teleradio-demo.nehs-digital.com", "https://requerant-tlr-demo.nehs-digital.com"]' 
        (linkEvent)="receiveLink($event)">
      </app-card>

      <app-card
        name="GxD5 PACS" 
        description="Outil de gestion du stockage, de l'archivage de données, de la mise en réseau et de la diffusion de la production d'images" 
        img="assets/img/test.png" 
        [infoLink]='["https://www.google.com/"]' 
        [allNames]='["Accès Professionnel", "Accès Patient"]' 
        [allLinks]='["https://gxd5pacs-pro-demo.nehs-digital.com", "https://gxd5pacs-patient-demo.nehs-digital.com"]' 
        (linkEvent)="receiveLink($event)">
      </app-card>
    </div>
    
    <div class="row">
      <app-card
        name="GxD5 PACS" 
        description="Outil de gestion du stockage, de l'archivage de données, de la mise en réseau et de la diffusion de la production d'images" 
        img="assets/img/test.png" 
        [infoLink]='["https://www.google.com/"]' 
        [allNames]='["Accès Professionnel", "Accès Patient"]' 
        [allLinks]='["https://gxd5pacs-pro-demo.nehs-digital.com", "https://gxd5pacs-patient-demo.nehs-digital.com"]' 
        (linkEvent)="receiveLink($event)">
      </app-card>

      <app-card name="GxD5 RIS" 
        description="Solution de système d'information pour piloter, planifier et organiser l'activité d'imagerie médicale" 
        img="assets/img/test.png" 
        [infoLink]='["https://www.google.com/"]'
        [allLinks]='["https://www.nehs-digital.com/offre/imagerie-medicale/systeme-dinformation/gxd5-ris/"]'>
      </app-card>

      <app-card name="GxD5 Diagnostics" 
        description="Station diagnostique multi-modalités d'outils avancés d'analyse et de mesure sur l'examen actuel et sur toute l'antériorité" 
        img="assets/img/test.png"
        [infoLink]='["https://www.google.com/"]'
        [allLinks]='["https://www.nehs-digital.com/offre/imagerie-medicale/systeme-dinformation/gxd5-diagnostics/"]'>
      </app-card>
    </div>

    <div class="row">
      <app-card name="GxD5 Uniview III" 
        description="Station diagnostique multi-modalités d'outils avancés d'analyse et de mesure sur l'examen actuel et sur toute l'antériorité" 
        img="assets/img/test.png"
        [infoLink]='["https://www.google.com/"]'
        [allLinks]='["https://www.nehs-digital.com/offre/imagerie-medicale/systeme-dinformation/gxd5-diagnostics/"]'>
      </app-card>

      <app-card name="PRI" 
        description="Solution d'impression d'examens médicaux sous forme de livrets patients au format DICOM" 
        img="assets/img/test.png"
        [infoLink]='["https://www.google.com/"]'
        [allLinks]='["https://pri-demo.nehs-digital.com"]'>
      </app-card>

      <app-card name="MARS" 
        description="Solution de gravure automatique de CD/DVD d'imagerie médicale " 
        img="assets/img/test.png"
        [infoLink]='["https://www.google.com/"]'
        [allLinks]='["https://mars-demo.nehs-digital.com"]'>
      </app-card>
    </div>

    <div class="row">
      <app-card name="KELDOC" 
        description="Logiciel de prise de rendez-vous en ligne" 
        img="assets/img/test.png"
        [infoLink]='[]'
        [allLinks]='["https://www.keldoc.com"]'>
      </app-card>
    </div>
    
  </div>

</div>

<!-- <router-outlet></router-outlet> -->
