<!--Main Navigation-->
<header class="intro-header">

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#"><strong>MDB</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
          aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
          </ul>
          <form class="form-inline">
            <div class="md-form mt-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
      </div>
    </nav>
  
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row flex-center pt-5 mt-3">
            <div class="col-md-6 text-center text-md-left margins">
              <div class="white-text">
                <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Make purchases with our app </h1>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
                  adipisicing
                  elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                  Commodi sequi
                  non animi ea dolor molestiae iste.</h6>
                <br>
                <a mdbBtn color="white" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">Learn more</a>
                <a mdbBtn color="white" outline="true" class="wow fadeInLeft" data-wow-delay="0.3s">Download
                  <i class="fab fa-android left right" aria-hidden="true"></i>
                  <i class="fab faapple left" aria-hidden="true"></i>
                  <i class="fab fawindows" aria-hidden="true"></i>
                </a>
              </div>
            </div>
  
            <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </header>
  <!--Main Navigation-->
  
  <!--Main Layout-->
  <main>
  
    <div class="container">
  
      <!--Grid row-->
      <div class="row py-5">
  
        <!--Grid column-->
        <div class="col-md-12 text-center">
  
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit
            anim id est laborum.</p>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
  
  </main>
  <!--Main Layout-->

  <router-outlet></router-outlet>